
@{
    ViewData["Title"] = "О компании";
}

<h1>О компании</h1>
<p>«Охранная Фирма «SteelLook» на сегодняшний день является одной из наиболее успешных компаний на российском рынке охранных услуг и самым высокотехнологичным предприятием в сфере безопасности.</p>
<br>