
@{
    ViewData["Title"] = "Контактная информация";
}

    <h1>Контактная информация</h1>
    <br>
    <p>+7(950)111-11-11 - оператор SteelLook (круглосуточно)</p>
    <p>ул. Ленина 24</p>
    <p>nulllight@yandex.ru - общие вопросы</p>

