@model SecureSystem.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
    <form asp-action="ProfileSettings" asp-controller="Profile">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FullName" class="control-label">ФИО</label>
            <input type="text" asp-for="FullName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="NameOrg" class="control-label">Название организации</label>
            <input type="text" asp-for="NameOrg" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label">Адрес организации</label>
            <input type="text" asp-for="Address" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-default" />
        </div>
    </form>